POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=yah
POSTGRES_PASSWORD=***
POSTGRES_DB=yah
POSTGRES_SHADOW_DB=yah_shadow
ENABLE_DEMO_DATA=false

DATABASE_URL=postgresql://yah:***@localhost:5432/yah?schema=public
DIRECT_DATABASE_URL=postgresql://yah:***@localhost:5432/yah?schema=public
SHADOW_DATABASE_URL=postgresql://yah:***@localhost:5432/yah_shadow?schema=public
